.react-grid-Container {
  margin: 25px 0px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.left-toolbar {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.chart-title {
  margin-left: 5px;
}

.rdg-cell-action {
  width: fit-content;
}

.rdg-cell-action-button {
  width: fit-content !important;
  padding: 0px 5px;
}

.rdg-cell-action-button:hover {
  cursor: pointer;
}

.rdg-cell-action-menu > span {
  overflow: visible;
}
