
@import './_variables.less';

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 10px 0 5px 0;
}

h1 {
  font-size:40px;
  font-weight:500;
  color:#343a40;
}

h2 {
  font-size:32px;
  font-weight:500;
  color:#343a40;
}

h3 {
  font-size:28px;
  font-weight:500;
  color:#343a40;
}

h4 {
  font-size:24px;
  font-weight:500;
  color:#343a40;
}

h5 {
  font-size:20px;
  font-weight:500;
  color:#343a40;
}

h6 {
  font-size:16px;
  font-weight:500;
  color:#343a40;
}

p {
  font-size:14px;
  font-weight:400;
}

blockquote {
  font-size:16.8px;
  font-weight:400;
}

.no-margin {
  margin:0;
}

.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-center {
  text-align:center;
}


.menu {
  z-index:2;
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

body {
  background:@background-body;
}

.fp-loader-spinner .fp-loader-spinner_bar {
  background-color:@loader-color;
}


.root-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.not-logged {
    background:@login-background;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  transition: left 0.1s;
  left: 240px;
  right: 0;
  height:51px;
  line-height: 50px;
  background:white;
  border-top:1px solid #e5e8eb;
  text-align:center;
  font-size:11px;
  a {
    color:#888;
    text-decoration:none;
  }
  img {
    height:15px;
    padding-left:3px;
  }
}


.header {
  position:absolute;
  left: 0px;
  background: @header-background;
  height: 70px;
  top: 0px;
  right: 0;
  padding: 0 10px;
  z-index: 2;
  box-shadow: 0 1px 10px 1px rgba(115,108,203,.1);

  .container {
    display: flex;
    .logo-container {
      flex: 0 0 auto;
      img {
        height: 40px;
        width: auto;
      }
    }
    .parameters {
      flex: 1 0 auto;
    }
    .user-container {
      flex: 0 0 auto;
    }
    .container-inner > ul {
      display:flex;
      > li {
        height: 70px;
        display: flex;
        align-items: center;
      }
    }
  }
  .user-container {
    float: right;
    height: 70px;
    .logout {
      line-height:40px;
      font-size: 30px;
      width:40px;
      color:@light-color;
      margin: 15px;
      border-radius:100%;
      text-align: center;
      cursor: pointer;
      &:hover {
        color:@black;
      }
    }
    .select-lang {
      padding: 0!important;
      margin:0;
      width: 180px;
      .flag {
        transform:scale(0.5);
        &.fr {
          background-image:url('./flag/fr.jpg');
          background-position:0;
          width:64px;
          height: 42px;;
        }
        &.en {
          background-image:url('./flag/en.jpg');
          background-position:0;
          width:64px;
          height: 42px;;
        }
        &.es {
          background-image:url('./flag/es.jpg');
          background-position:0;
          width:64px;
          height: 42px;;
        }
      }
      .elem {
        text-align: right;
        cursor: pointer;
        display: flex;
        align-items: center;
        span,div {
          display:inline-block;
          vertical-align: middle;
        }
      }
      .select-lang__option {
        padding: 0;
      }
      .select-lang__menu {
        margin: 0;
      }
      .select-lang__menu-list {
        padding: 0;
      }
    }
  }

}


.fp-loader-spinner {
  .fp-loader-spinner_bar {
    background-color:#000;
  }
}



.sidebar {
  position:absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  top: 70px;
  transition: width 0.1s;
  border-right:1px solid #e5e8eb;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, .05);
  background: @sidebar-background;
  width: 240px;

  padding:10px 0 0;

  .menu-standard {
    li {
      white-space: nowrap;
      a {
        display: block;
        color:#737373;
        height: 49px;
        line-height: 49px;
        margin:3px 0;
        padding: 0px 20px;
        font-size: 14px;
        text-decoration: none;
        position: relative;
        p {
          display: inline;
        }
        i {
          display: inline-block;
          font-size: 19.2px;
          width: 30px;
          text-align: center;
        }
        span {
          margin-left: 15px;
        }
        &.active,&:hover {
          color:@primary-color;
        }
      }
    }
  }
  .fp-menu-collapse {
    text-align: center;
    height:51px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
    border-top:1px solid #e5e8eb;
  }

  .container {
    height: 100%;
    position: relative;
    overflow: auto;
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.page {
  z-index:1;
  position:absolute;
  left: 240px;
  transition: left 0.1s;
  bottom: 50px;
  overflow: auto;
  top: 72px;
  right: 0;
}


.fp-core-ui-panel {
  height: 100%;
  padding: 15px;
  > .grid-layout {
    box-shadow:0 1px 10px 1px rgba(0,0,0,.05);
    border-radius:4px;
    padding: 15px;
    background:@panel-background;
    height:100%;
  }
}

.fp-dashboard {
  padding: 15px;
  height:100%;
}

.fp-chart,.fp-echarts,.fp-chart-content {
  height: 100%;
  .fp-chart-error {
    p {
      margin: 0;
    }
  }
}

.ariane {
  text-align: right;
  list-style: none;
  margin:5px 10px;
  li {
    display: inline;
    margin: 0 5px;
    color:#707070;
    a {
      color:inherit;
      text-decoration: none;
    }
  }
}

.fp-error-query {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align:center;
  .refresh {
    display: block;
    cursor: pointer;
    i {
      display: block;
      font-size: 30px;
    }
  }
}


.collapse {
  .sidebar {
    width:70px;
    .link-text {
      display: none;
    }
  }

  .page,.footer {
    left:70px;
  }
}

.rc-tooltip.sidebar-tooltip {
  display: none;
}
.collapse .rc-tooltip.sidebar-tooltip {
  display:block;
  &.rc-tooltip-hidden {
    display: none;
  }
}

.fp-core-ui-panel {
  .header-panel-dark {
    background:#2f3c4c;
  }

  .header-panel-dark-large {
    background:#2f3c4c;
    margin:-30px -30px 0;
    border-radius:0;
    width:calc(~"100% + 60px")!important;
    height:calc(~"100% + 30px")!important;

    h1,h2,h3,h4,h5,h6 {
      color:@white;
      font-weight:500;
    }
  }
}

.fp-dashboard > .grid-layout > .grid-layout-inner {
  overflow: visible!important;
}

.fp-error-template {
  .fp-error-template-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    p {
      color: @danger-color;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: #666;
}

@import './graphs.less';
@import './components.less';
@import './parameters.less';
