
@import './_variables.less';


* {
  box-sizing: border-box;
  font-family: "Rubik";
}


h1,h2,h3,h4,h5,h6,p {
  margin: 10px 0 5px 0;
}

h1 {
  font-size:40px;
  font-weight:500;
  color:#343a40;
}

h2 {
  font-size:32px;
  font-weight:500;
  color:#343a40;
}

h3 {
  font-size:28px;
  font-weight:500;
  color:#343a40;
}

h4 {
  font-size:24px;
  font-weight:500;
  color:#343a40;
}

h5 {
  font-size:20px;
  font-weight:500;
  color:#343a40;
}

h6 {
  font-size:16px;
  font-weight:500;
  color:#343a40;
}

p {
  font-size:14px;
  font-weight:400;
}

blockquote {
  font-size:16.8px;
  font-weight:400;
}

.no-margin {
  margin:0;
}

.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.text-center {
  text-align:center;
}


.menu {
  ul,li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

body {
  background:@background-body;
}

.fp-loader-spinner .fp-loader-spinner_bar {
  background-color:@loader-color;
}


.root-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  &.not-logged {
    background:@login-background;
  }
}



.header {
  position:absolute;
  left: 240px;
  background: @header-background;
  height: 70px;
  top: 0px;
  right: 0;
  padding: 0 10px;

  .user-container {
    float: right;
    li.menu-list {
      vertical-align: top;
      display: inline-block;
    }
    .logout {
      line-height:40px;
      font-size: 30px;
      width:40px;
      color:@light-color;
      margin: 15px;
      border-radius:100%;
      text-align: center;
      cursor: pointer;
      &:hover {
        color:@white;
      }
    }
    .select-lang {
      width: 180px;
      .flag {
        transform:scale(0.5);
        &.fr {
          background-image:url('./flag/fr.jpg');
          background-position:0;
          width:64px;
          height: 42px;;
        }
        &.en {
          background-image:url('./flag/en.jpg');
          background-position:0;
          width:64px;
          height: 42px;;
        }
        &.es {
          background-image:url('./flag/es.jpg');
          background-position:0;
          width:64px;
          height: 42px;;
        }
      }
      text-align: right;
      .is-open .Select-value {
        background:rgba(0,0,0,0.1);
      }
      .Select-input {
        display: none;
      }

      .Select-value-label {
        line-height: 70px;
        div {
          display: inline-block;
          margin-top: -11px;
        }
        span {
          display: inline-block;
        }
      }
      .Select-menu-outer {
        .Select-option {
          padding:0!important;
          height: 40px!important;
          line-height: 40px;
          div {
            display: inline-block;
            margin-top: -10px;
          }
          span {
            display: inline-block;
          }
        }
      }
      .Select-control {
        border:none!important;
        border-radius: 0!important;
        height: 70px;
        background:transparent!important;
      }
      .Select-arrow-zone {
        display: none;
      }
    }
  }

  .parameters {
    float: left;
    li.menu-list {
      display: inline-block;
      vertical-align: top;
      position: relative;
    }
    .selectbox {
      min-width:200px;
    }

    .fp-loader-spinner {
      margin:12px;
      .fp-loader-spinner_bar {
        background-color:@light-color;
      }
    }

  }
}




.sidebar {
  position:absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  top: 0;
  background: @sidebar-background;
  width: 240px;
  .logo-container {
    height: 100px;
    text-align: center;
    padding: 30px 20px;
    img {
      height: 40px;
    }
  }

  .menu-standard {
    li {
      .header-section {
        padding: 10px 25px;
        font-size: 13px;
        color:#707070;
      }
      a {
        display: block;
        color:#2d3b48;
        height: 49px;
        line-height: 49px;
        margin:3px 0;
        padding: 0px 30px;
        font-size: 15px;
        text-decoration: none;
        position: relative;
        p {
          display: inline;
        }
        &:after {
          content:"\F142";
          font:normal normal normal 24px/1 "Material Design Icons";
          position: absolute;
          right: 10px;
          top:50%;
          transform: translateY(-50%);
        }
        i {
          margin-right: 15px;
        }
        &.active {
          color:@primary-color;
          background:rgba(91, 107, 232, 0.15);
        }
      }
    }
  }
}



.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  font-size:11px;
  a {
    color:#888;
    text-decoration:none;
  }
  img {
    height:15px;
    padding-left:3px;
  }
}

.fp-dashboard {
  position:absolute;
  left: 240px;
  bottom: 0;
  overflow: auto;
  top: 70px;
  right: 0;
}


.fp-core-ui-panel {
  height: 100%;
  padding: 15px;
  .grid-layout {
    border-radius:4px;
    padding: 15px;
    background:@panel-background;
    height:100%;
  }
}

.fp-dashboard {
  padding: 15px;
}

.fp-chart,.fp-echarts,.fp-chart-content {
  height: 100%;
}

.ariane {
  text-align: right;
  list-style: none;
  margin:5px 10px;
  li {
    display: inline;
    margin: 0 5px;
    color:#707070;
    a {
      color:inherit;
      text-decoration: none;
    }
  }
}

.fp-error-query {
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align:center;
  .refresh {
    display: block;
    cursor: pointer;
    i {
      display: block;
      font-size: 30px;
    }
  }
}


@import './authentication.less';
@import './graphs.less';
@import './components.less';
@import './parameters.less';

